.header_1 {
    color: #333333;
}

.header_1:hover {
    color: #FE5341;
}


.swiper-slide ul {
    float: left;
    padding-left: 60px;
}

.swiper-wrapper {
    width: 1180px;
}

.swiper-slide ul img {
    width: 220px;
    height: 130px;
}

.swiper-slide ul li {
    margin-top: 20px;
    text-align: center;
}

.swiper-slide {
    width: 1180px;
}

.swiper-slide a {
    color: #333333;
}

.a {
    font-size: 16px;
    font-weight: 900;
}

.a1 {
    margin-left: 5px;
    color: #FE5341;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #FE5341;
    box-sizing: border-box;
    border-radius: 5px;
}

.a2 {
    color: #FE5341;
}

.a3 {
    color: #FE5341;
    font-size: 14px;
}

.a4 {
    color: #80C269;
    font-size: 12px;
}

.a5 {
    color: #80C269;
    font-size: 14px;
}

.one h2 {
    margin-left: 235px;
    margin-top: 10px;
}

.two {
    width: 100%;
    height: 600px;
    padding: 0px 266px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

.b1 {
    width: 975px;
    height: 40px;
    margin: 10px 0;
}

.b1 h2 {
    float: left;
}

.b1 a {
    float: right;
    line-height: 40px;
    color: #FE5341;
    padding-right: 20px;
    box-sizing: border-box;
    background: url(./img/readMore.png)70px 15px no-repeat;
}

.b {
    width: 1040px;

}

.b li img {
    width: 220px;
    height: 130px;
}

.b li {
    width: 220px;
    height: 231px;
    line-height: 21px;
    margin: 0 37px 20px 0;
    float: left;
    border: 1px solid #e6e9e9;
    border-radius: 6px;
}

.b li a {
    color: #474747;
}

.b2 {
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    word-break: break-all;
    margin: 10px;

}

.b3_1 {
    font-size: 12px;
    float: left;
    color: #A3A3A3;
}

.b3_2 {
    float: right;
}

.b3_3 {
    padding-left: 13px;
    font-size: 12px;
    background: url(./img/zan.png) 1px 1px no-repeat;
}

.b3_4 {
    padding-left: 13px;
    font-size: 12px;
    background: url(./img/reply.png) 1px 2px no-repeat;
}

.three {
    width: 100%;
    height: 340px;
    padding: 0px 266px;
    box-sizing: border-box;
}

/* .b li {
    position: relative;
}

.d {
    position: absolute;
    left: 0px;
    bottom: 0px;
} */

.three .b li {
    background: url(./img/listbg.jpg)no-repeat left bottom;
}

/* 酷玩 */
.four {
    width: 100%;
    height: 1050px;
    padding: 0px 266px;
    box-sizing: border-box;
}


.e>li {
    width: 220px;
    height: 220px;
    border: 1px solid #E6E9E9;
    border-radius: 15px;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
}

.e>li img {
    border-top-right-radius: 15px;
}

.e1 {
    width: 220px;
    height: 110px;
    padding-left: 10px;
}

.e1_1 {
    font-size: 14px;
    height: 45px;
    overflow: hidden;
    word-break: break-all;
}

.e1_2 {
    color: #a3a3a3;
    display: block;
    font-size: 12px;
}

.e2 {
    width: 200px;
    height: 49px;
}

.e2_1 {
    color: #fe5341;
    font-size: 14px;
    float: left;
}

.e2_2 {
    float: right;
}

.e2_2_1 {
    padding-left: 15px;
    box-sizing: border-box;
    background: url(./img/zan.png)2px 4px no-repeat;
}

.e2_3_1 {
    padding-left: 15px;
    box-sizing: border-box;
    background: url(./img/reply.png)2px 4px no-repeat;
}

.e3 {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.e3_1 {
    background: url(img/more.png) no-repeat left center;
    color: #fe5341;
    padding-left: 24px;
    margin-top: 20px;
}

.e3_2 {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    top: -91px;
    display: none;
}

.e3_2_1 {
    background: url(img/loading-icon.gif) no-repeat left center;
    color: #fe5341;
    padding-left: 24px;
    margin-top: 20px;
    position: relative;
    top: 91px;
}